.preview {
    background: url(../../assets/images/Giant_Panda_sd.png) no-repeat center;
    background-size: cover;
    height: 504px;
}
.preview-circle {
    width: 367px;
    height: 367px;
    left: calc(50% - 45px);
    top: 68px;
}
.preview-text {
    width: 400px;
    font-size: 85px;
    left: calc(51% + 3px);
    top: 53px
}
.preview-button {
    left: calc(50% + 66px);
    top: 483px;
}

/*BACKSTAGE*/
.backstage {
    padding-top: 110px;
    padding-bottom: 157px;
    background-image: none;
}
.backstage-image {
    margin-right: 20px;
}

/*ANIMAL*/
.animal-slider {
    width: 940px;
}
.animal-card {
    height: 354px;
}
.animal-card-img {
    width: 294px;
}
.animal-card-desc {
    width: 292px;
}
.animal-button {
    margin-top:9px;
    margin-bottom: 40px;
}
.arrow {
    top: 369px
}
.arrow-right {
    right: calc(50% - 150px);
}
.arrow-left {
    left: calc(50% - 150px);
}
.animal-flower-left {
    width: 194px;
    height: 202px;
    background-image: url("../../assets/images/palm_foto_sd.png");
}
.animal-flower-right {
    width: 241px;
    height: 180px;
    background-image: url("../../assets/images/strelitzia_sd.png");
}

/*FEED FRIEND*/
.feed-friend {
    padding-top: 31px;
    padding-bottom: 51px;
}
.feed-container {
    width: 940px;
    padding: 30px 48px 49px;
}
.feed-title {
    margin-bottom: 23px;
}
.feed-subtitle {
    margin-bottom: 20px;
}
.feed-black-text {
    margin-bottom: 13px;
    width: 95%;
}
.feed-text {
    width: 95%;
}
.feed-how-title {
    margin-top: 40px;
}
.feed-scheme {
    margin-bottom: 78px;
}

/*TESTIMONIALS*/
.testimonials {
    padding-top: 100px;
    padding-bottom: 140px;
}
.testimonials-container {
    width: 94%;
}
.testimonials-slider {
    margin-top: 30px;
    margin-bottom: 81px;
    grid-template-columns: repeat(3, 1fr);
}
.testimonials-card4 {
    display: none;
}
.range-slider {
    bottom: -28px;
    width: 390px;
}
.range-slider::-webkit-slider-thumb {
    width: 75px;
}
.testimonials-flowerRight {
    width: 197px;
    height: 240px;
    background-image: url("../../assets/images/leav_foto_sd.png");
}