.preview {
    background: url(../../assets/images/Giant_Panda_sd.png) no-repeat center;
    background-size: cover;
    height: 584px;
}
.preview-circle {
    width: 367px;
    height: 367px;
    left: calc(50% - 45px);
    top: 68px;
}
.preview-text {
    width: 400px;
    font-size: 85px;
    left: calc(51% + 3px);
    top: 53px
}
.preview-button {
    left: calc(50% + 66px);
    top: 483px;
}

/*BACKSTAGE*/
.backstage {
    padding-top: 110px;
    padding-bottom: 145px;
    background-image: none;
}
.backstage-image {
    margin-right: 28px;
    object-fit: cover;
}
.backstage-right {
    width: 45.4%;
    margin-top: -8px;
}

/*ANIMAL*/
.animal-slider {
    width: 94%;
}
.animal-card {
    height: 354px;
    width: 295px;
}
.animal-card-img {
    width: 99%;
}

.animal-button {
    margin-top:9px;
    margin-bottom: 40px;
}
.arrow {
    top: 369px
}
.arrow-right {
    right: calc(50% - 150px);
}
.arrow-left {
    left: calc(50% - 150px);
}
.animal-flower-left {
    width: 194px;
    height: 202px;
    background-image: url("../../assets/images/palm_foto_sd.png");
}
.animal-flower-right {
    width: 241px;
    height: 180px;
    background-image: url("../../assets/images/strelitzia_sd.png");
}

/*FEED FRIEND*/
.feed-friend {
    padding-top: 31px;
    padding-bottom: 51px;
}
.feed-container {
    width: 94%;
    padding: 30px 48px 49px;
}
.feed-title {
    margin-bottom: 23px;
}
.feed-subtitle {
    margin-bottom: 20px;
}
.feed-black-text {
    margin-bottom: 13px;
    width: 95%;
}
.feed-text {
    width: 95%;
}
.feed-how-title {
    margin-top: 40px;
}
.feed-scheme {
    margin-bottom: 78px;
}

/*TESTIMONIALS*/
.testimonials {
    padding-top: 100px;
    padding-bottom: 140px;
}
.testimonials-container {
    width: 94%;
}
.testimonials-cards {
    height: 400px;
}
.testimonials-card {
    flex: 1 0 293px;
}
.testimonials-slider {
    margin-top: 30px;
    margin-bottom: 81px;
    grid-template-columns: repeat(3, 1fr);
}

.range-slider {
    bottom: -28px;
    width: 390px;
}
.range-slider::-webkit-slider-thumb {
    width: 75px;
}
.testimonials-flowerRight {
    width: 197px;
    height: 240px;
    background-image: url("../../assets/images/leav_foto_sd.png");
}
/*END OF 1440px ADAPDATION*/

@media (max-width:980px) {

    /*PREVIEW 980*/
    .preview {
        background: url(../../assets/images/Giant_Panda_t.png) no-repeat center;
        background-size: cover;
        height: 373px;
    }
    .preview-circle {
        width: 237.6px;
        height: 237.6px;
        left: calc(50% + 11px);
        top: 43px;
    }
    .preview-text {
        width: 255px;
        font-size: 54.29px;
        left: calc(57% + 4px);
        top: 39px;
    }
    .preview-button {
        left: 20px;
        top: 279px;
    }
    .backstage-image {
        display: none;
    }

    /*BACKSTAGE 980*/
    .backstage {
        padding-top: 68px;
        padding-bottom: 78px;
        background-image: url(../../assets/images/flower_foto1_t.png);
        background-position: right top 0px;
        background-repeat: no-repeat;
    }
    .backstage-right {
        width: 92.34%;
    }
    .backstage-text {
        margin-left: -5px;
        width: 80%;
    }
    .backstage-text2 {
        width: 85%;
        line-height: 22px;
    }
    .backstage-subtitle {
        margin: 31px 0 21px 0;
    }

    /*ANIMAL 980*/
    .animal-slider {
        width: 93.75%;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 404px;
    }
    .animal-card-640 {
        display: none;
    }
    .animal-card {
        width: 285px; 
        height: 332px;
    }
    .arrow {
        top: 344px;
    }
    .arrow-right {
        right: calc(50% - 77px);
    }
    .arrow-left {
        left: calc(50% - 77px);
    }
    .animal-button {
        margin-top: -12px;
        margin-bottom: 0;
    }
    .animal-flower-right {
        width: 175px;
        height: 131px;
        background-image: url("../../assets/images/strelitzia_t.png");
    }
    .animal-flower-left {
        background-image: url("../../assets/images/palm_foto_t.png");
    }

    /*FEEDFRIEND 980*/
    .feed-friend {
        padding-top: 21px;
        padding-bottom: 51px;
    }
    .feed-container {
        width: 100%;
        padding: 9px 20px 49px;
    }
    .feed-title {
        font-size: 42px;
        line-height: 50.4px;
    }
    .feed-subtitle {
        font-size: 22px;
        line-height: 26.4px;
    }
    .feed-black-text {
        margin-bottom: 10px;
        width: 100%;
    }
    .feed-text {
        width: 100%;
    }
    .feed-how-title {
        margin-top: 32px;
    }
    .feed-arrow {
        display: none;
    }
    .feed-scheme {
        display: flex;
        justify-content: space-between;
        margin-bottom: 28px;
    }

    /*TESTIMONIAL 980*/
    .testimonials-slider {
        display: flex;
        flex-direction: column;
    }
    .testimonials-card {
        height: 109px;
        margin-bottom: 15px;
    }
    .testimonials-card-content {
        padding: 15px 15px 0px 15px;
    }

}