.preview {
    background: url(../../assets/images/Giant_Panda_sd.png) no-repeat center;
    height: 504px;
}
.preview-circle {
    width: 367px;
    height: 367px;
    left: calc(50% - 45px);
    top: 68px;
}
.preview-text {
    width: 400px;
    font-size: 85px;
    left: calc(51% + 3px);
    top: 53px
}
.preview-button {
    left: calc(50% + 66px);
    top: 483px;
}