/*fonts load*/
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../../assets/fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../../assets/fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/fonts/Roboto-Bold.ttf');
}
body {
    font-family: 'Roboto';
}
.header {
    font-weight: 500;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color:white;
}
.menu {
    display: flex;
    justify-content: space-between;
    list-style:none;
}
a {
    color:white;
    text-decoration: none;
    padding: 15px;
}
.preview {
    background: url(../../assets/images/Giant_Panda_cr.png) no-repeat center;   
    height: 700px;
}
.preview-text {
    padding-top: 60px;
    margin-top: 0px;
}