.header {
    
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color:white;
}
.menu {
    display: flex;
    justify-content: space-between;
    list-style:none;
}
a {
    color:white;
    text-decoration: none;
    padding: 15px;
}
.preview {
    background: url(../../assets/images/Giant_Panda_cr.png) no-repeat center;   
    height: 700px;
}
.preview-text {
    padding-top: 60px;
    margin-top: 0px;
}