body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    padding-bottom: 50px;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

.footer {
    position:fixed;
    z-index: 2;
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
    font-weight: bold;
    color: #30c5ff;
    background-color: black;
    opacity: 0.7;
  }
  
  .footer__year {
    margin: 10px 0 10px 0;
  }
  
  .footer__github,
  .footer__rsschool {
    fill: #30c5ff;
  }