.field {
	display: flex;
	justify-content: center;
}
.puzzle {
	position: relative;
	border-radius: 5px;
    border: rgb(165, 184, 62) solid 2px;
}
.cell {
	position: absolute;
	display: block;
	width: 80px;
	height: 80px;
	transition: 0.3s;
}
.number {
	border-radius: 10px;

    border: rgb(198, 226, 43) solid 2px;
	text-align: center;
	font-size: 32px;
}