/*fonts load*/
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../../assets/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../../assets/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/fonts/Roboto-Bold.ttf');
}

body {
    font-family: 'Roboto';
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #4B9200;
}

/*header*/

.header {
    font-weight: 500;
    background-color: black;
    color: white;
}

.pet-logo {
    padding: 2.2px 4.75px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    width: 82px;
    box-sizing: border-box;
    position: relative;
}

.pet-logo-text {
    margin: 0;
    text-align: center;
    font-size: 19.0145px;
    line-height: 23px;
    color: #FFFFFF;
    font-weight: 400;
}

.pet-logo-img {
    position: absolute;
    bottom: 9px;
    left: 9px;
    height: 19px;
}

.navbar {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 1160px;
    min-height: 80px
}

.menu {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    width: 475px;
}

.menu-active {
    color: #F9804B;
    pointer-events: none;
    cursor: default;
}

.header-copyright {
    margin-left: auto;
}

.button {
    cursor: pointer;
    border: none;
    padding: 16px 0;
    display: block;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
    color: #FFFFFF;
    border-radius: 25px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    text-transform: uppercase;
    text-decoration: none;
    min-width: 298px;
    text-align: center;
    transition: 0.5s;
}

.button:hover {
    background: #E47209;
}

.button:active {
    background-color: #4B9200;
}

.button:disabled {
    background: #767474;
}

li {
    list-style: none;
}

/*footer*/
.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #111115;
    color: white;
    padding-top: 41px;
    padding-bottom: 50px;
}

.footer-column {
    height: 353px;
    position: relative;
    width: 400px;
}

.contacts {
    position: absolute;
    bottom: -25px;
    left: -38px;
    z-index: 1;
}

.contacts li a {
    display: flex;
    cursor: pointer;
}

.contacts li a p {
    margin: 10px 0 10px 15px;
}

.footer-button {
    border-radius: 5px;
    margin-top: 68px;
    margin-left: 10px;
}

.footer-menu {
    padding: 0;
    margin: 0;
    width: 365px;
}

.email-input {
    margin-right: 10px;
    color: #BDBDBD;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid orange;
    border-radius: 2px;
    padding: 10px;
    min-width: 228px;
}

.form-subscribe {
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
}

.form-input-cont {
    display: flex;
}

.form-subscribe-title {
    display: inline-block;
    margin: 0;
    color: white;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 29px;
    margin-bottom: 14px;
}

.button-submit {
    color: #D31414;
    border-color: #D31414;
    display: inline-block;
    font-weight: 400;
    text-transform: capitalize;
    min-width: 129px;
    background: #F1F3F2;
    padding: 9px;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
}

.copyrights {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    color: white;
    font-weight: 100;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.copyrights p {
    margin: 5px 0 5px 0;
}

.contact-item-icon {
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5) center no-repeat;
    border-radius: 50%;
}

.contact-item-icon:hover {
    width: 28px;
    height: 28px;
    background: rgba(75, 146, 0, 0.5) center no-repeat;
    border-radius: 50%;
}

.input {
    color: #BDBDBD;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid orange;
    border-radius: 2px;
    padding: 10px;
    min-width: 228px;
}

.input:active {
    border-color: #4B9200;
}

.input:active::placeholder {
    color: #4B9200;
}