@import 'normalize.css';

@import './assets/styles/vars.css';
@import './assets/styles/header.css';
@import './assets/styles/footer.css';
@import './assets/styles/burger.css';
@import './assets/styles/icono.css';


body {
  margin-top: 60px;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  position: relative;
  max-height: 900px;
}

.background-video {
  position: fixed;
  z-index: -1;
  top: 0px;
  left: calc(50% - 800px);
  width: 1600px;
  margin: 0 auto;
}

.greetings__container {
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

.greetings__link {
  color: var(--main-color);
}
.greetings__link:hover {
  color: var(--main-bg-color);
}

@media (min-width:1601px) {
  .background-video {
    width: 2600px;
    left: calc(50% - 1300px);
  }
}