@import 'normalize.css';

@import './assets/styles/vars.css';
@import './assets/styles/header.css';
@import './assets/styles/footer.css';


body {
  margin-top: 60px;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  position: relative;
}

.background-video {
  position: fixed;
  z-index: -1;
  top: 0px;
  left: calc(50% - 800px);
  width: 1600px;
  margin: 0 auto;
}

.greetings__container {
  text-align: center;
}