.footer {
  position:fixed;
  width: 100%;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid black;
  font-weight: bold;
  background-color: var(--main-bg-color);
  opacity: 0.7;
}

.footer__year {
  margin: 10px 0 10px 0;
}

.footer__github,
.footer__rsschool {
  fill: var(--main-color);
}