.player {
  transition: .5s;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.play-info {
  display: flex;
  justify-content: space-between;
}

.play-info .duration {
  display: flex;
}

.timeline {
  background: white;
  width: 100%;
  height: 2px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 10px 0 #0008;
  margin-bottom: 12px;
  transition: 0.2s;
}

.timeline:hover {
  margin-top: -2px;
  height: 6px;
  margin-bottom: 10px;
}

.timeline .progress {
  background: coral;
  width: 0.1%;
  height: 100%;
  transition: 0.25s;
}
.volume-container {
  cursor: pointer;
  position: relative;
  z-index: 2;
  padding-right: 30px;
}

.volume-button {
  height: 26px;
  width: 26px;
  display: flex;
  align-items: center;
}

.volume-container .volume-slider {
  position: absolute;
  left: -3px;
  top: 10px;
  z-index: -1;
  width: 0;
  height: 10px;
  background: white;
  box-shadow: 0 0 20px #000a;
  transition: 0.25s;
}

.volume-container .volume-slider .volume-percentage {
  background: coral;
  height: 100%;
  width: 75%;
}

.volume-container:hover .volume-slider {
  left: -123px;
  width: 120px;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-song {
  display: flex;
  justify-content: space-between;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active {
  color: #C5B358;
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../icons/play.svg");
}

.pause {
  background-image: url("../icons/pause.svg");
}

.player-icon {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.player-icon:hover {
  opacity: 1;
}

.player-icon:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

/*PLAYER FIN*/

.quiz {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.cur-quiz {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.cur-quiz__title {
  text-align: center;
}
.cur-quiz__info {
  width: 70%;
}
.cur-quiz__img {
  width: 200px;
  height:150px;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1px;
}

.birds {
  display: flex;
  justify-content: space-between;
  border: solid 1px;
}

.birds__list {
  cursor: pointer;
}

.list__item:hover {
  opacity: 0.6;
  transition: 0.7;
}

.birds__info {
  width: 70%;
  padding: 10px;
  /*border: solid 1px;*/
  display: flex;
  justify-content: space-between;
}
.birds__info-image {
  height: 150px;
}
.birds__info-info {
  width: 70%;
  padding: 0 10px 0 10px;
}
.quiz__levels {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.quiz__levels .level {
  padding: 5px;
  border: solid 1px;
}

.active-level {
  color: var(--link-bg-color);
  background-color: var(--link-color);
}

.next-button {
  margin-top: 20px;
  margin-bottom: 80px;
  border: solid 1px;
  text-align: center;
  padding: 3px;
}

.next-button .active {
  color: var(--link-bg-color);
  background-color: var(--link-color);
}

@media (max-width:600px) {
  .cur-quiz {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .quiz__levels .level {
    padding: 2px;
    border: solid 1px;
    font-size: smaller;
  }
  .birds {
    font-size: smaller;
  }
  .birds__info {
    width: 60%;
    flex-direction: column;

  }
  .birds__info-image {
    height: auto;
  }
  
  .birds__list {
    padding-left: 20px;
  }
}

@media (max-width:360px) {
  .quiz {
    width: 90%;
  }

  .quiz__levels .level {
    font-size: x-small;
  }
}