.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  opacity: 0.7;
  background-color: var(--main-bg-color);
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
  font-weight: bold;
}

.header__logo {
  background-image: url('../images/logo.svg');
  background-size: cover;
  width: 130px;
  height: 36px;
}

.nav__menu {
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
  list-style-type: none;
  margin: 0 10px 0;
}

.menu__link {
  color: var(--main-color);
  text-decoration: none;
  cursor: pointer;
  transition: .3s;
}

.menu__item :hover {
  color: var(--link-color);
  background-color: var(--link-bg-color);
  transition: .8s;
}
